/* indexportfolio.css */
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden; /* Evita desbordamientos horizontales  */
}

h2 {
    color: #FFB6B9;
    margin-bottom: 5%;
    font-size: 6%;
    text-shadow: 2% 2% 5% rgba(0, 0, 0, 0.3);
    overflow: hidden;
    white-space: nowrap;
    border-right: 1% solid #333;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5% 0;
    z-index: 1000;
    box-shadow: 0 1% 2% rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente línea si es necesario */
}

header img {
    height: 8%; /* Ajuste proporcional al contenedor */
    margin-right: 5%; /* Espacio entre logo y texto */
}

header h1 {
    margin: 0;
    font-size: 3%;
    display: inline-block;
    vertical-align: middle;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end; /* Coloca los enlaces al final de la barra */
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 5%; /* Convertido a porcentaje */
    font-size: 2%;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #FFB6B9; /* Cambia el color al pasar el ratón */
}

/* Espaciado para el contenido debajo del header */
main {
    padding-top: 15%;
}

/* Sección de la Galería de Proyectos */
.section-1 {
    padding: 6%;
    margin-bottom: 4%;
    border-radius: 1%;
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1);
    width: 99%;
    background-color: #A9D9D0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Sección de los Proyectos */
.section-2 {
    padding: 6%;
    margin-bottom: 2%;
    border-radius: 1%;
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1);
    width: 99%;
    background-color: #F2E0D6;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    max-width: 90%; /* Ajustado al 90% del contenedor */
    padding: 2%; /* Convertido a porcentaje */
    background-color: bisque;
    border-radius: 1%; /* Ajuste proporcional */
    box-shadow: 0 0 2% rgba(0, 0, 0, 0.1); /* Sombra proporcional */
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    padding: 4% 5%; /* Convertido a porcentaje */
    margin-top: 5%; /* Convertido a porcentaje */
    background-color: #FFE156;
    color: #0da399;
    text-decoration: none;
    font-size: 4%; /* Convertido a porcentaje */
    border-radius: 80px;
    box-shadow: 0 4% 6% rgba(0, 0, 0, 0.1); /* Convertido a porcentaje */
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.button:hover {
    background-color: #e3c27b;
}

.proyectos-lista {
    font-size: 6%; /* Ajuste proporcional */
    color: #333333;
    font-weight: bold;
    text-shadow: 3% 3% 8% rgba(0, 0, 0, 0.3);
    margin-top: 5%;
}

.formulario-seccion {
    background-color: #ddab61;
    padding: 6%; /* Convertido a porcentaje */
    color: #333;
    border-radius: 1%;
    box-shadow: 0 4% 20% rgba(0, 0, 0, 0.2); /* Convertido a porcentaje */
    margin-top: 4%; /* Convertido a porcentaje */
    width: 100%;
    max-width: 90%; /* Ajustado al 90% del contenedor */
    margin-bottom: 4%; /* Convertido a porcentaje */
    text-align: left;
    font-family: sans-serif;
}

.formulario-seccion h3 {
    font-size: 5%; /* Convertido a porcentaje */
    color: #FF6347;
    margin-bottom: 5%; /* Convertido a porcentaje */
}

.formulario-seccion input,
.formulario-seccion textarea {
    width: 100%;
    padding: 4%; /* Convertido a porcentaje */
    margin-bottom: 4%; /* Convertido a porcentaje */
    border-radius: 1%;
    border: 1% solid #ddd; /* Convertido a porcentaje */
    font-size: 3%; /* Convertido a porcentaje */
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
}

.formulario-seccion textarea {
    height: 20%; /* Convertido a porcentaje */
    resize: vertical;
}

.formulario-seccion button {
    background-color: #f97861;
    color: white;
    font-size: 3%; /* Convertido a porcentaje */
    padding: 4% 8%; /* Convertido a porcentaje */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-seccion button:hover {
    background-color: #ff8800;
}

.button-container {
    margin-bottom: 5%; /* Convertido a porcentaje */
}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2%; /* Convertido a porcentaje */
    margin-top: auto;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
