/* indexportfolio.css */

/* Reset y box-sizing global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Cuerpo */
body {
    font-family: sans-serif;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden; /* Evita desbordamientos horizontales */
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1% 0; 
    z-index: 1000;
    box-shadow: 0 0.5% 1% rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
}
/* Estilo del h2 */
h2 {
    color: #FFB6B9;
    margin-bottom: 20px;
    font-size: clamp(20px, 8vw, 40px); /* Ajuste dinámico entre 24px y 60px */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #333;
    width: 0;
    animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Header */
header {
    position: fixed; /* Hace que el header quede fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 1% 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
}

header img {
    height: 60px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: clamp(1rem, 8vw, 2rem);
    display: inline-block;
    vertical-align: middle;
    color: white;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: clamp(1rem, 1.5rem, 2rem);
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #FFB6B9;
}

/* Espaciado para el contenido debajo del header */
main {
    padding-top: 120px;
}

/* Sección de la Galería de Proyectos */
.section-1, .section-2 {
    padding: 8%;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 99%;
    background-color: #A9D9D0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-2 {
    background-color: #F2E0D6;
}

/* Contenedor de los proyectos */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
    max-width: 800px;
    padding: 20px;
    background-color: bisque;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Botones */
.button {
    display: inline-block;
    padding: 20px 24px;
    margin-top: 20px;
    background-color: #FFE156;
    color: #0da399;
    text-decoration: none;
    font-size: clamp(1vw, 2vw, 5vw); /* Ajuste dinámico entre 16px y 30px */
    border-radius: 80px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.5s ease;
}

.button.rotado {
    transform: rotateY(360deg); /* Rotación completa de 360 grados alrededor del eje Y */
}

.button:hover {
    background-color: #e3c27b;
    transform: rotateY(360deg);
}

/* Lista de proyectos */
.proyectos-lista {
    font-size: clamp(4vw, 4vw, 7.5vw); /* Ajuste dinámico */
    color: #333333;
    font-weight: bold;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

/* Formulario de contacto */
.formulario-seccion {
    background-color: #ddab61;
    padding: 50px;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    text-align: left;
    font-family: sans-serif;
}

.formulario-seccion h3 {
    font-size: 36px;
    color: #FF6347;
    margin-bottom: 30px;
}

.formulario-seccion input,
.formulario-seccion textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #fff;
    color: #333;
    font-family: sans-serif;
}

.formulario-seccion textarea {
    height: 150px;
    resize: vertical;
}

.formulario-seccion button {
    background-color: #f97861;
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario-seccion button:hover {
    background-color: #ff8800;
}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    /* Ajustes para dispositivos pequeños */
    header {
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    header h1 {
        font-size: 1.2rem;
    }

    header nav a {
        font-size: 1rem;
        margin-left: 10px;
    }
    header h2 {
        font-size: 500vw;
    }

    .button {
        font-size: 1.5rem;  /* Define el tamaño de fuente relativo al tamaño base del documento */
        padding: 0.75rem 1rem; /* Botones más grandes en dispositivos pequeños */
    }

    .formulario-seccion input,
    .formulario-seccion textarea {
        font-size: 5vw;
    }

    .proyectos-lista {
        font-size: 8vw;
    }

    .section-1, .section-2 {
        padding: 30px; /* Menos padding en dispositivos pequeños */
    }
}
